$vwblue: #0099da;
$skygrey: #f3f5f6;
$white: #ffffff;
$black: #1d1f20;
$lightblack: #2f3538;
$grey: #808890;
$midgrey: #bdc3c6;
$lightgrey: #dee1e3;
$darkblue: #0068aa;
$orange: #faaa00;
$red: #c82e2d;
