.icons {
  position: static;
  display: block;
  width: 100%;
  font-size: 4.5em;
  margin-top: 18px;
}

.icon-blog {
  &:before {
    content: $icon-blog;
  }
}
.icon-factory {
  &:before {
    content: $icon-factory;
  }
}
.icon-models {
  &:before {
    content: $icon-models;
  }
}
.icon-more {
  &:before {
    content: $icon-more;
  }
}
.icon-news {
  &:before {
    content: $icon-news;
  }
}
.icon-password {
  &:before {
    content: $icon-password;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
