$icon-arrow-up: '\e906';
$icon-arrow-left: '\e907';
$icon-arrow-right: '\e908';
$icon-close: '\e909';
$icon-menu: '\e90a';
$icon-blog: '\e901';
$icon-factory: '\e900';
$icon-models: '\e903';
$icon-more: '\e904';
$icon-news: '\e905';
$icon-password: '\e902';
