@import 'variables';
@import 'colors';
@import 'fonts';
@import 'icons';
@import 'utilities';
@import 'slick';
@import 'slick-theme';
body {
  font-family: 'VWTextWebRegular', arial, verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  height: 100%;
  font-size: 14px;
  line-height: 1.428571429;
}

@import 'parts/parts';
@import 'components/components';
