.media-cta {
  position: relative;
  .media-cta__img {
    margin-bottom: 10px;
    @media (min-width: 768px) {
      margin-bottom: 0px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .container-fluid {
    position: relative;
    @media (min-width: 768px) {
      position: absolute;
      bottom: 50px;
    }
    .row {
      justify-content: center;
      a {
        color: white;
        text-decoration: none;
      }
      .btn {
        margin-left: 10px;
        margin-bottom: 10px;
        @media (min-width: 768px) {
          margin-left: 10px;
        }
      }
    }
  }
}
