.slick-margin {
  margin-left: 0px;
  margin-top: 40px;
  @media (min-width: 768px) {
    margin-left: 96px;
    margin-top: 0px;
  }
  .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(29, 31, 32, 0.3);
    top: 50%;
    z-index: 1;
    width: 40px;
    height: 80px;
    border: 0;
    padding: 0;
    margin: -40px 0 0 0;
    overflow: hidden;
    cursor: pointer;
    &.arrow-wrapper--left {
      left: 0;
      background-position: left top;
      -webkit-border-radius: 0 4px 4px 0/0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0/0 4px 4px 0;
      -ms-border-radius: 0 4px 4px 0/0 4px 4px 0;
      -o-border-radius: 0 4px 4px 0/0 4px 4px 0;
      border-radius: 0 4px 4px 0/0 4px 4px 0;
      &:hover {
        background-color: rgba(29, 31, 32, 0.5);
      }
    }
    &.arrow-wrapper--right {
      right: 0;
      background-position: right top;
      -webkit-border-radius: 4px 0 0 4px/4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px/4px 0 0 4px;
      -ms-border-radius: 4px 0 0 4px/4px 0 0 4px;
      -o-border-radius: 4px 0 0 4px/4px 0 0 4px;
      border-radius: 4px 0 0 4px/4px 0 0 4px;
      &:hover {
        background-color: rgba(29, 31, 32, 0.5);
      }
    }
  }
  .icon-arrow {
    color: $white;
    font-size: 60px;
  }
}

.carousel {
  width: 100%;
  &.slick-slider {
    margin-bottom: 70px;
  }
  .item {
    position: relative;

    .imageContainer {
      display: block;
      width: 100%;
      position: relative;
      max-height: 600px;
      @media (min-width: 1024px) {
        min-height: 480px;
        max-height: 1024px;
      }
    }
    img {
      display: block;
      width: 100%;
    }
    .copy-container {
      z-index: 999;
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      color: #fff;
      padding: 30px 0px 70px 0px;
      @media (min-width: 1024px) {
        padding: 30px 0px 40px 0px;
      }
    }
  }
  .slick-dots {
    @media only screen and (max-width: 768px) {
      position: absolute;
      z-index: 999;
      bottom: -35px;
      li {
        margin: 0;
      }
      .slick-active {
        .dot {
          background-color: $vwblue;
        }
      }
      .dot {
        background-color: $grey;
        border-radius: 35%;
        cursor: pointer;
        width: 8px;
        height: 8px;
        display: inline-block;
      }
    }
  }
}

@media only screen and (min-width: 901px) and (max-width: 1100px) {
  .carousel {
    max-height: 600px;
  }
  .carousel .item .imageContainer {
    max-height: 600px;
  }

  .carousel .item .copy-container {
    padding-bottom: 55px;
  }
}

@media only screen and (min-width: 651px) and (max-width: 900px) {
  .carousel .item .copy-container {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .carousel .item .copy-container {
    position: relative;
    background: inherit;
    padding: 60px 20px 0px 20px;
  }

  .carousel .slick-dots {
    bottom: 60px;
  }
}
