.icon-el-padding {background:url('../images/vc-icons.png')!important;background-position:0 -32px!important;}
.icon-adv-button {background:url('../images/vc-icons.png')!important;background-position:-256px 0!important;}

#hoverimg_contentbox .vc_element-icon,
.wpb_hoverimg_contentbox .vc_element-icon{background:url('../images/vc-icons.png')!important;background-position:-32px 0!important;}

.icon-el-carousel{background:url('../images/vc-icons.png')!important;background-position:-384px -64px!important;}

.icon-el-mosaic{background:url('../images/vc-icons.png')!important;background-position:-576px 0!important;}

.icon-big-slick{background:url('../images/vc-icons.png')!important;background-position:-416px -64px!important;}

.icon-media_contentbox{background:url('../images/vc-icons.png')!important;background-position:-128px 0!important;}

.icon-el-vw-image{background:url('../images/vc-icons.png')!important;background-position:-128px 0!important;}